{% extends "base.html" %}
{% block title %}{{ antrag.legislatur.nummer }}/{{ antrag.nummer }}: {{ antrag.titel|safe }}{% endblock %}
{% block content %}
<figure class="text-end">
<h2><small class="text-body-secondary">{{antrag.get_typ_display}}</small> {{antrag.legislatur.nummer}}/<b>{{antrag.nummer}}</b></h2>
</figure>
<h1>{{ antrag.titel|safe }}</h1>
<h4>Gestellt von <b>{{ antrag.antragssteller|safe }}</b> | {{antrag.formell_eingereicht }} | <a href="{% url 'antrag_quittung' antrag.pk %}">pdf</a></h4>
{% if antrag.ist_finanzantrag %}
<h5><b>{{antrag.antragssumme }}</b>€ aus Haushaltsposten {{antrag.haushaltsposten}}</h5>
{% endif %}
{% if antrag.will_orgsatzung_aendern %}
<h5>Für diesen Antrag sind Anwesenheit und Zustimmung von <b>2/3 der Sturamitglieder</b> nötig.</h5>
{% endif %}
{% if antrag.beschlussfaehigkeitssicher %}
<h5>Dieser Antrag kann nach §15 (4) der Geschäftsordnung auch von einem eigentlich beschlussunfähigen StuRa behandelt werden.</h5>
{% endif %}
{% if antrag.anzahl_vertagungen == 2 %}Dieser Antrag wurde bereits zwei mal vertagt und kann nach §13 (7) GeschO nicht noch einmal manuell vertagt werden.{% endif %}
{% if antrag.unterantrag_set.exists %}
{% if antrag.unterantrag.set.count == 1 %}
<h5>Für diesen Antrag liegt <b>ein Änderungsantrag</b> vor.</h5>
{% else %}
<h5>Für diesen Antrag liegen <b>{{ antrag.unterantrag_set.count }} Änderungsanträge</b> vor.</h5>
{% endif %}
{% endif %}
<hr class="my-1">
<p><b>Antragstext:</b><br>{{antrag.text|safe|linebreaksbr}}</p>
<p><b>Begründung:</b><br>{{antrag.begruendung|safe|linebreaksbr}}</p>
{% if antrag.unterantrag_set.exists %}
<h4>Änderungsanträge:</h4>
{% for ua in antrag.unterantrag_set.all %}
<h5>{{ antrag.legislatur.nummer }}/{{ antrag.nummer }}.<b>{{ua.nummer}}</b>: {{ua.titel}} <small class="text-body-secondary">{{ ua.antragssteller }} | {{ ua.formell_eingereicht }}</small></h5>
<p><b>Antragstext:</b><br>{{ua.text|safe|linebreaksbr}}</p>
<p><b>Begründung:</b><br>{{ua.begruendung|safe|linebreaksbr}}</p>
<hr class="my-1">
{% endfor %}
{% else %}
<h5>Keine Änderungsanträge im System</h5>
<hr class="my-1">
{% endif %}
{% if antrag.lesung_set.exists %}
<h5>Lesungen</h5>
{% for lesung in antrag.lesung_set.all %}
<h5><b>{{lesung.nummer}}</b>. Lesung: {{lesung.get_status_display}} <small class="text-body-secondary"><a class="link-secondary" href="{% url "sitzung_detail_by_nummer" lesung.sitzung.nummer %}">{{ lesung.sitzung.nummer }}. Sitzung | {{ lesung.sitzung.anfang|date }}</a></small></h5>
{% if lesung.dringlichkeit_beantragt %}<b>Dringlichkeitsantrag für diese Lesung registriert</b>{% endif %}
{% if lesung.is_past %}<p><b>Protokolleintrag:</b><br>{{lesung.protokolleintraege|safe|linebreaksbr}}</p>{% endif %}
<hr class="my-1">
{% endfor %}
{% else %}
<h5>Für diesen Antrag wurden (noch) keine Lesungen angesetzt.</h5>
{% endif %}
{% endblock %}