{% extends "base.html" %}
{% block title %}Übersicht: Sitzung ({{ sitzung.legislatur.nummer }}) {{ sitzung.nummer }}{% endblock %}
{% block content %}
<figure class="text-end">
<h2>
    <small class="text-body-secondary">{% if sitzung.is_sondersitzung %}Sondersitzung{% else %}Sitzungsübersicht{% endif %}</small> ({{sitzung.legislatur.nummer}})<b>{{sitzung.nummer}}</b></h2>
</figure>
<h1>Übersicht über Lesungen</h1>
<h4>Sitzung am <b>{{ sitzung.anfang|date }}</b> | {{ sitzung.ort }}</h4>
{% if sitzung.anmerkungen %}
<h5>Anmerkung des Präsidiums: {{ sitzung.anmerkungen|safe }}</h5>
{% endif %}
<h5><a href="{% url "sitzung_matrix" sitzung.nummer %}">Abstimmungsmatrix (pdf)</a></h5>
{% if sitzung.is_running %}
<h5 class="text-warning">
    Diese Sitzung läuft planmäßig gerade!
</h5>
{% endif %}
{% if sitzung.is_future %}
<h5 class="text-info">
    Diese Sitzung hat noch nicht angefangen
</h5>
{% endif %}
{% if sitzung.is_past %}
<h5 class="text-success">
    Diese Sitzung ist bereits beendet
</h5>
{% endif %}
<hr class="my-1">
{% if sitzung.lesung_set.exists %}
{% if sitzung.lesung_set.count == 1 %}
<h5>In dieser Sitzung {% if sitzung.is_past %}fand{% else %}findet{% endif %} <b>eine Lesung</b> statt:</h5>
{% else %}
<h5>In dieser Sitzung {% if sitzung.is_past %}fand{% else %}findet{% endif %} <b>{{ sitzung.lesung_set.count }} Lesungen</b> statt.</h5>
{% endif %}
{% include "hauptverwalter/lesung_module.html" with lesungsset=sitzung.lesung_set.all %}
{% endif %}
{% endblock %}