{% extends "base.html" %}
{% block title %}Sitzungen des {{ legislatur.nummer }}. StuRa{% endblock %}
{% block content %}
<figure class="text-end">
<h2><small class="text-body-secondary">Sitzungsübersicht der</small> <b>{{legislatur.nummer}}. Legislaturperiode </b></h2>
</figure>
<h1>Sitzungen</h1>
<h4>Legislaturperiode vom {{ legislatur.anfangsdatum }} bis zum {{ legislatur.enddatum }}</h4>


<div class="row">
{% for sitzung in sitzungen %}
    {% include "hauptverwalter/sitzung_card.html" with sitzung=sitzung %}
{% empty %}
<h3>In dieser Legislaturperiode wurden noch keine Sitzungen registriert.</h3>
{% endfor %}

</div>
{% endblock %}